@import '../../styles/shared/index.scss';

.header {
  @include displayFlex();
  width: 100%;

  &__unordered-list {
    list-style-type: none;
    margin: 0;
    padding: calc(20px / var(--size-divisor));
    @include displayFlex();
    justify-content: center;
    align-items: center;
    width: 100%;

    &__image {
      object-fit: cover;
      width: calc(100px / var(--size-divisor));
      height: calc(100px / var(--size-divisor));
    }

    li {
      &:hover {
        color: $darkGrayOrange;
        cursor: pointer;
        text-decoration: underline;
      }

      + li {
        margin-left: calc(50px / var(--size-divisor));
      }
    }
  }
}