@import '../../styles/shared/index.scss';

.card {
    @include displayFlex();
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__header {
        z-index: 1;
        @include displayFlex();
        justify-content: center;
        align-items: center;
        border: 3px solid $cream;
        background-color: $dullGreen;
        width: calc(100px / var(--size-divisor));
        height: calc(100px / var(--size-divisor));
        @include border-radius(50%);

        &__icon {
            object-fit: contain;
            width: calc(50px / var(--size-divisor));
            height: calc(50px / var(--size-divisor));
        }
    }

    h4 {
        font-weight: normal;
    }

    &__image {
        margin-top: calc(-50px / var(--size-divisor));
        object-fit: cover;
        width: calc(300px / var(--size-divisor));
        height: calc(300px / var(--size-divisor));
    }

    + .card {
        margin-left: calc(50px / var(--size-divisor));
    }
}